{% extends "layout.html" %}
{% block content %}
  <h2 class="mb-1 font-weight-bold text-center">About us</h2>
  <div class="col-md-8 col-sm-12">
    <p>Since the existence of cryptocurrency on the world financial markets, it has become very popular among the investors. The most ambitious of them realizing that eventually an interest of the people, who want to make a profit from fluctuations of cryptocurrency exchange rate and its mining, will grow.</p>

    <p>
      Since the existence of cryptocurrency on the world financial markets, it has become very popular among the investors. The most ambitious of them realizing that eventually an interest of the people, who want to make a profit from fluctuations of cryptocurrency exchange rate and its mining, will grow.
    </p>
  </div>


   {% endblock content %}