{% extends "layout.html" %}
{% block content %}

  <h2 class="font-weight-bold text-center">Contact us</h2>

    <div class="col-md-8 col-sm-12">
      <form class="p-5 grey-text">
        <h5 class="font-weight-bold text-center">message us via Email</h5>
        <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
          <input type="text" id="form3" class="form-control form-control-sm">
          <label for="form3">Your name</label>
        </div>
        <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control form-control-sm">
          <label for="form2">Your email</label>
        </div>
        <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
          <input type="text" id="form32" class="form-control form-control-sm">
          <label for="form34">Subject</label>
        </div>
        <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
          <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
          <label for="form8">Your message</label>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-primary">Send</button> 
        </div>
      </br></br></br>
        <div class="text-center">
          <h2>Phone Number</h2>
          <li>0692946575</li>
          <li>0752806784</li>
          <h2>Email</h2>
          <li>azizimfinanga1@gmail.com</li>
          <li>azizijumanne63@gmail.com</li>
        </div>
      </form>
      <!-- Form contact -->
    </div>


   {% endblock content %}